<ion-content padding class="background">
  <div class="img">
    <img [src]="'assets/imgs/main_logo.png'">
  </div>

  <div>
    <ion-list>
      <ion-item class="transparent">
        <ion-label floating>Saisissez votre clé</ion-label>
        <ion-input [(ngModel)]="apiKey" type="text" value=""></ion-input>
      </ion-item>
    </ion-list>

    <div padding>
      <button ion-button (click)="login()" full="true" class="white-text" color="secondary">Se connecter</button>
    </div>
    <p class="error" *ngIf="isError">Votre clé d'authentification n'est pas valide</p>
  </div>
</ion-content>
