page-login {
  .error{
    width: 100%;
    height: 50px;
    color: #fff;
    background-color: #e74c3c;
    border-radius: 2px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .img{
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
