<ion-tabs selectedIndex="1">
  <ion-tab [root]="tab1Root" tabTitle="Mon équipe" tabIcon="people"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Home" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Mes contacts" tabIcon="contacts"></ion-tab>
</ion-tabs>
