<ion-header>
  <ion-navbar>
    <ion-title>Rejoindre une équipe</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="background">
  <div class="center">
    <ion-list>
      <ion-item class="transparent">
        <ion-label floating>Saisissez votre numéro d'équipe</ion-label>
        <ion-input [(ngModel)]="password" type="password" value=""></ion-input>
      </ion-item>
    </ion-list>

    <div padding>
      <button ion-button (click)="joinTeam()" full="true" color="light">Rejoindre l'équipe</button>
    </div>
  </div>
</ion-content>
