page-choose{
  .choose-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .choose-tile{
      height: 80px;
      width: 200px;
    
    }
  }
}
