<ion-header>
  <ion-navbar>
    <ion-title>No project</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="background">
  <div class="choose-container">
    <button class="choose-tile" (click)="goToCreateTeam()" ion-button outline icon-start color="light">
      <p>
        Créer une équipe
      </p>
    </button>
    <button class="choose-tile" (click)="goToJoinTeam()" ion-button outline icon-start color="light">
      <p>
        Trouver mon équipe
      </p>
    </button>
  </div>
</ion-content>
