<ion-header>
  <ion-navbar>
    <ion-title>
      Mes demandes
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="background">
  <div *ngFor='let item of displayItems'>
    <ion-card class="card">
      <ion-avatar>
        <img [src]="item.image" class="img">
      </ion-avatar>
      <ion-card-content>
        <ion-card-title>
          {{item.name}} - {{item.team}}
        </ion-card-title>
        <p>
          {{item.date}}
        </p>
      </ion-card-content>
      <div class="action">
        <button ion-button item-end icon-left (click)="showConfirm()" color="danger">
          <ion-icon name="close"></ion-icon>
          Décliner
        </button>
        <button ion-button item-end icon-left (click)="showConfirm()" color="confirm">
          <ion-icon name="checkmark"></ion-icon>
          Accepter
        </button>
      </div>
    </ion-card>
  </div>
</ion-content>
