<ion-header>
  <ion-navbar>
    <ion-title>
      Mon équipe
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-item-divider class="divider">Mes cooéquipiers</ion-item-divider>
  <ion-list>
    <ion-item-sliding *ngFor="let item of displayItems">
      <ion-item>
        <ion-avatar item-start>
          <img [src]="item.image">
        </ion-avatar>
        <h2>{{item.name}}</h2>
        <p>{{item.role}}</p>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="danger" (click)="showConfirm()">
          <ion-icon name="close"></ion-icon>
          Delete
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-item-divider class="divider">Nos demandes</ion-item-divider>
  <div *ngFor='let request of displayRequest'>
    <ion-card class="card">
      <ion-avatar>
        <img [src]="request.image" class="img">
      </ion-avatar>
      <ion-card-content>
        <ion-card-title>
          {{request.name}} - {{request.team}}
        </ion-card-title>
        <p>
          {{request.date}}
        </p>
      </ion-card-content>
      <div class="action">
        <button ion-button icon-only (click)="showConfirm()" color="danger">
          <ion-icon name="trash"></ion-icon>
        </button>
      </div>
    </ion-card>
  </div>

</ion-content>
