page-group {
  .card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .img{
    height: 50px;
    width: 50px;
    margin-top: 20px;
    border-radius: 999em;
  }
  .action{
    display: flex;
    flex-direction: row;
  }
}
