<ion-header>
  <ion-navbar>
    <ion-title>Création d'équipe</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding class="background">
  <div class="center">
    <ion-list>
      <ion-item class="transparent">
        <ion-label floating>Saisissez votre nom d'équipe</ion-label>
        <ion-input [(ngModel)]="teamName" type="text" value=""></ion-input>
      </ion-item>
    </ion-list>

    <div padding>
      <button ion-button (click)="createTeam()" full="true" color="light">Créer l'équipe</button>
    </div>
  </div>
</ion-content>
