page-home {
  .welcome{
    height: 50px;
    font-size: 1.5em;
    text-align: center;
    color: #fff;
  }
  .progress-wrapper{
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      height: calc(100% - 50px);
      width: 100%;
  }

  .progress-wrapper .text{
      color: #fff;
      font-size: 1.7em;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      text-align: center;
      width: 100%;
      z-index: 1;
  }
}
