<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="background">
  <div class="welcome">Welcome Kateh</div>
  <div class="progress-wrapper">
    <round-progress
    [current]="50"
    [max]="72"
    [color]="'#fdce37'"
    [background]="'rgb(255,255,255, 0.3)'"
    [radius]="125"
    [stroke]="15"
    [clockwise]="false"
    [responsive]="false"
    [duration]="800"
    [animation]="'easeInOutQuart'"
    [animationDelay]="0"></round-progress>
    <div class="text">50/72 tokens</div>
  </div>
</ion-content>
