<ion-header>
  <ion-navbar>
    <ion-title>
      Contact
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-searchbar
  [(ngModel)]="searchInput"
  [showCancelButton]="shouldShowCancel"
  (ionInput)="onInput($event)"
  (ionCancel)="onCancel($event)"></ion-searchbar>
  <ion-item-divider class="divider">INFORMATIQUE</ion-item-divider>
  <ion-list>
    <ion-item-sliding *ngFor="let item of displayItems">
      <ion-item>
        <ion-avatar item-start>
          <img [src]="item.image">
        </ion-avatar>
        <h2>{{item.name}}</h2>
        <p>{{item.role}}</p>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button (click)="showConfirm()" color="primary">
          <ion-icon name="chatboxes"></ion-icon>Chat
        </button>
        <button ion-button (click)="showConfirm()" color="secondary" class="white-text">
          <ion-icon name="videocam"></ion-icon>Video
        </button>
        <button ion-button (click)="showConfirm()" color="primary">
          <ion-icon name="document"></ion-icon>Upload
        </button>
        <button ion-button (click)="showConfirm()" color="secondary" class="white-text">
          <ion-icon name="people"></ion-icon>Intervention
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
