page-empty {
  .message-container{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .message{
    height: 100px;
    width: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #fff;
    .icon{
      font-size: 5em;
      text-transform: uppercase;
      letter-spacing: 0.2em;
      text-align: center;
    }
    .message-subtitle{
      padding: 5px;
      text-transform: uppercase;
      letter-spacing: 0.2em;
      font-size: 0.8em;
      text-align: left;
    }
  }

}
