<ion-header>
  <ion-navbar>
    <ion-title>No project</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="background">
  <div class="message-container">
    <div class="message">
      <ion-icon class="icon" name="sad"></ion-icon>
      <div class="message-subtitle">Aucun projet n'est disponible actuellement...</div>
    </div>
  </div>
</ion-content>
