page-token{
  .welcome{
    height: 50px;
    font-size: 1.5em;
    text-align: center;
    color: #fff;
  }
  .token-container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100% - 50px);
    width: 100%;

    .token-block{
      height: 200px;
      width: 200px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .token-title{
        color: #ffffff;
        text-transform: uppercase;
        letter-spacing: 0.2em;
        text-align: center;
        font-size: 1em;
      }
      p{
        margin: 0;
        margin-top: 20px;
        color: #ffffff;
        text-align: center;
        font-size: 4em;
      }
    }
  }
}
