<ion-header>
  <ion-navbar>
    <ion-title>
      Mes Tokens
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="background">
  <div class="welcome">Welcome Kateh</div>
  <div class="token-container">
    <div class="token-block">
      <div class="token-title">Nombre de demandes en cours</div>
      <p>2</p>
    </div>
    <div class="token-block">
      <div class="token-title">Nombre de tokens obtenus</div>
      <p>2</p>
    </div>
  </div>
</ion-content>
