<ion-tabs selectedIndex="0">
  <ion-tab [root]="tab1Root" tabTitle="Mes Tokens" tabIcon="pricetags"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Mes Demandes" tabIcon="contacts"></ion-tab>
</ion-tabs>
